<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div style="width: 50%; heigth: 100vh; float: left">
  {{#each restaurantList}}
    <p>{{name}}</p>
    <p>latitude: {{location.coordinates.latitude}}</p>
    <p>longitude: {{location.coordinates.longitude}}</p>
  {{/each}}

</div>
<h1>MAP</h1>
<div id="map" style="width: 50%; height: 100vh"></div>