
Below you'll find our specially curated list of restaurants.

<p>Find one that looks good? Click on the picture to find out more  <p><button><a href="/">Go Back</a></button></p></p>
  
<hr>

<section>
  <input type="text" id="userSearch" onkeyup="searchList()" 
  placeholder="Search for a restaurant.." title="Type in a name">
</section>
  
<hr>
<section>  
    <ul id="restaurantList">
        {{#each restaurantList}}
        <li>
            <a href="{{id}}"><b>{{ name }} </b></a> {{ reviewScore }} stars out of 5.5
        
            <p>
              {{#each tagGroups}}
                {{#each this.tags}}
                  {{this.name}}, 
                  {{!-- {{.}} Cuisuine {{lookup}} --}}
                {{/each}}   
              {{/each}}
            </p>
            
            <p>
              <a href="{{id}}">
                <img src="{{images.[0].url}}" alt=" Selected photo for {{name}}" style="width: 50%; height: 10%">
              </a>
            </p>
          </li> 
        {{/each}}

      <li><a href="#">test</a></li>
      <li><a href="#">x</a></li>
    </ul>
</section>


